{% extends "base.html" %}

{% block titulo %} Identificar usuario {% endblock %}

{% block contenido_principal %}
<!-- Búsqueda -->
<div class="row">
    <div id="custom-search-input ">
        <form method="get" action="/invitaciones/lista" >
            <div
                    class="input-group col-xs-8 col-sm-6 col-md-4 col-lg-5 pull-right">
                <input type="text" class="search-query form-control"
                       placeholder="Nombre del Usuario" name="busqueda"/>
                <span class="input-group-btn">
<button class="btn" type="submit">
<span class="glyphicon glyphicon-search"></span>
</button>
</span>
            </div>
        </form>
    </div>
</div>
<h2>Invitaciones</h2>
<div class="list">
    {% for usuario in usuarios %}
    <div>
        <div>
            <div class="wrap">Nombre: {{ usuario.name }}</div>
            <div class="wrap">Apellido:  {{ usuario.surname }}</div>
            <div class="wrap"><a href="/invitacion/{{usuario.email}}/aceptar">Aceptar Invitacion</a></div>
            <br><br><br>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row text-center">
    <ul class="pagination">
        {% for pagina in paginas %}
        <li class="page-item" id="pi-{{pagina}}">
            <a class="page-link" href="/usuarios/lista?pg={{pagina}}">{{pagina}}</a>
        </li>
        {% endfor %}
        <script>$("#pi-"+"{{actual}}").addClass("active");</script>
        <!--
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
        -->
    </ul>
</div>
{% endblock %}